@{
    ViewData["Title"] = "Home Page";
    Layout = null;

}

@* Layout --> Styling in Shared--> _Layout.cshtml*@

<h1>Home Page</h1>

<a href="Customer/Add">Add Customer</a>
<a href="Customer/Display">Display Customer</a>

@* <a href="Customer (Controller Name)/Add (Method Name)">Add Customer</a> *@